

<form method="post" action="/login">
    <h1>Login</h1>
    <br>
    <ul>
        <li><input type="text" id="user_signup_email" name="email" placeholder="email"></li>
        <br>
        <li><input type="password" id="user_signup_password" name="password" placeholder="password"></li>
        <br>
        <input type="submit" value="Login">
    </ul>
</form>