<h1>Hello <%=@user.username%></h1>

<p>Your email is <%=@user.email%></p>

<p><%@user.board_games.each do |bg|%>
    <ul>
    <li><%=bg.title%>
    <a href="/boardgames/<%=bg.id%>/delete"><button>Delete</button></a></li>
    <br>
    <%end%>
    </ul>
<br>
<a href="/boardgames/new"><button>Add Board Game</button></a>

