

<form method="post" action="/signup">
    <h1>Sign Up</h1>
    <br>
    <ul>
        <li><input type="text" id="user_signup_username" name="username" placeholder="username"></li>
        <br>
        <li><input type="text" id="user_signup_email" name="email" placeholder="email"></li>
        <br>
        <li><input type="password" id="user_signup_password" name="password" placeholder="password"></li>
        <br>
        <input type="submit" value="Sign up">
    </ul>
</form>
