<form method="post" action="/boardgames">
    <h1>Add a board game to your collection</h1>
    <br>
    <ul>
        <li><input type="text" id="boardgame_title" name="title" placeholder="title"></li>
        <br>
        <li><input type="text" id="boardgame_players" name="num_of_players" placeholder="players"></li>
        <br>
        <li><input type="text" id="boardgame_genre" name="genre" placeholder="type of game"></li>
        <br>
        <input type="submit" value="Add">
    </ul>
</form>